<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="ps1623.nalla_ruchi"
android:versionCode="1"
android:versionName="1.0" >

<uses-sdk
    android:minSdkVersion="8"
    android:targetSdkVersion="17" />
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

<application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="Nalla Ruchi"
    android:theme="@style/AppTheme" >

    <activity
        android:name="ps1623.nalla_ruchi.MainActivity"
        android:label="Nalla Ruchi Home">
    </activity>

    <activity
    android:name=".InsertFood"
    android:label="Nalla Ruchi Add Food" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

    </activity>

    <activity
        android:name="ps1623.nalla_ruchi.ViewAllFood"
        android:label="Nalla Ruchi" >

    </activity>

    <activity
        android:name="ps1623.nalla_ruchi.ViewFood"
        android:label="Nalla Ruchi" >

    </activity>

    <activity
        android:name="ps1623.nalla_ruchi.RegisterCustomer"
        android:label="Nalla Ruchi" >

    </activity>

    <activity
        android:name="ps1623.nalla_ruchi.RegisterCook"
        android:label="Register Cook" >

    </activity>

</application>
</manifest>